.crcl-animate {
    position: relative;
    top: 5em;
    width: 121vh;
    height: 10vh;
    border-radius: 100px;
    background: linear-gradient(to top right ,#001729, #012837);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .crcl-animate:before,
  .crcl-animate:after {
      content: "";
      position: absolute;
      left: -1vh;
      top: -1vh;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#04a3a0), color-stop(40%,#001729), color-stop(100%,#05abe0));
      
      border-radius: 100px;
      background-size: 300%;
      width: calc(100% + 2vh);
      height: calc(100% +  2vh);
      z-index: -1;
    
      animation: cycle 20s linear infinite;
  }
  
  .crcl-animate:after {
    filter: blur(2vh);
  }
  @keyframes cycle {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 300% 0;
  
    }
    100% {
      background-position: 0 0;
    }
  }

  .movies
  {
    color: white;
    font-size: 75px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    
  }